@import '@/styles/index.scss';

.posts-detail {
  padding: 140px;

  &__image {
    width: 800px;
    max-width: 800px;
    >img {
      width: 100%;
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 28px;
    line-height: 32px;
    color: $color-black;
    font-weight: normal;

    &-time {
      margin-top: 10px;
      color: $color-deep-gray;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }
  }
  &__content {
    margin-top: 50px;
    max-width: 800px;

    img {
      display: block;
      width: 100%;
      margin: 20px auto;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      color: $color-easy-black;
    }
    h1 {
      font-size: 32px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 28px;
      margin-top: 18px;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 6px;
    }
    h4 {
      font-size: 20px;
      margin-top: 14px;
      margin-bottom: 6px;
    }
    h5 {
      font-size: 16px;
      margin-top: 14px;
      margin-bottom: 6px;
    }
  }
}