@import '@/styles/index.scss';

.posts-detail {
  position: relative;
  padding: 140px;

  &__image {
    width: 700px;
    max-width: 700px;
    >img {
      width: 100%;
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 28px;
    line-height: 32px;
    color: $color-black;
    font-weight: normal;

    &-time {
      margin-top: 10px;
      color: $color-deep-gray;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__content {
    margin-top: 30px;
    max-width: 700px;
    color: $color-deep-gray;
    line-height: 2;
    blockquote {
      border-left: 2px solid $color-deep-gray;
      padding-left: 10px;
      // float: left;

      // &::first-letter{
      //   color: $color-black;
      //   font-size: 32px;
      //   line-height: 1;
      // }
    }
    pre {
      margin: 10px auto;
      display: block;
      border-radius: 2px;
      overflow-x: auto;
      padding: 0.5em;
      background: #797979;
      color: #dcdcdc;
    }
    ul {
      margin: 10px 20px;

      li {
        list-style: disc;
      }
    }
    img {
      display: block;
      width: 100%;
      margin: 20px auto;
    }
    a {
      color: $color-gray;
      text-decoration: underline;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
      color: $color-gray;
    }
    h1 {
      font-size: 32px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 28px;
      margin-top: 18px;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 6px;
    }
    h4 {
      font-size: 20px;
      margin-top: 14px;
      margin-bottom: 6px;
    }
    h5 {
      font-size: 16px;
      margin-top: 14px;
      margin-bottom: 6px;
    }
  }
}

@media (max-width: 767px) {
  .posts-detail {
    padding: 40px;

    &__image {
      width: 100%;
    }

    &__title {
      font-size: 24px;

      &-time {
        margin-top: 8px;
        font-size: 12px;
      }
    }
    &__content {
      margin-top: 20px;
      img {
        border: 1px solid $color-easy-gray;
      }
      h1 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 20px;
        margin-top: 18px;
        margin-bottom: 8px;
      }
      h3 {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 6px;
      }
      h4 {
        font-size: 16px;
        margin-top: 14px;
        margin-bottom: 6px;
      }
      h5 {
        font-size: 14px;
        margin-top: 14px;
        margin-bottom: 6px;
      }
      pre {
        overflow-x: auto;
      }
      code {
        display: block;
        min-width: 600px;
        font-size: 12px;
      }
    }
  }
}