$color-white: #fff;

// 背景色
$color-bg: #f6f6f6;

// 标题色
$color-black: #2e2e2e;

// 低级标题色
$color-easy-black: #303030;

// 深色文字
$color-deep-gray: #848484;

// 主文字色
$color-gray: #797979;

// 浅文字色
$color-easy-gray: #aaaaaa;