@import '@/styles/index.scss';

.posts-lists {
  // column-count: 2;
  // column-gap: 30px;
  padding: 0 140px;
  padding-top: 140px;

  &__item {
    break-inside: avoid;
    margin-bottom: 80px;
    // max-width: 800px;
    min-width: 300px;

    &__wrap {
      background-color: #eee;
    }
    &__title {
      overflow: hidden;
      position: relative;
      padding: 40px 30px;
      padding-bottom: 30px;
      text-align: left;
      word-break: break-all;
      color: $color-black;
      font-size: 24px;
      line-height: 1;
      // &::after {
      //   position: absolute;
      //   top: -20px;
      //   right: 30px;
      //   content: '♠';
      //   font-size: 80px;
      //   color: $color-white;
      // }
    }
    &__time {
      margin-top: 20px;
      font-size: 14px;
      font-weight: normal;
    }
    &__body {
      padding: 30px;
      // background-color: $color-white;
    }
    &__info {
      margin-bottom: 10px;
      color: $color-black;
    }
    &__desc {
      color: $color-easy-black;
    }
  }
}