@import '@/styles/index.scss';

.posts {
  padding: 120px 0;
}
.posts-lists {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // column-count: 3;
  // column-gap: 30px;
  &__item {
    break-inside: avoid;
    margin-bottom: 30px;
    margin-right: 30px;
    min-width: 300px;
    max-width: 500px;
    &:nth-child(3n) {
      margin-right: 0;
    }

    &__wrap {
      background-color: #eee;
    }
    &__title {
      overflow: hidden;
      position: relative;
      padding: 60px 30px;
      height: 200px;
      background-repeat: no-repeat;
      text-align: left;
      word-break: break-all;
      color: $color-white;
      text-shadow: 1px 1px $color-easy-black;
      font-size: 24px;
      line-height: 1;
    }
    &__time {
      position: relative;
      margin-top: 20px;
      font-size: 14px;
      font-weight: normal;
      z-index: 1;
    }
    &__body {
      padding: 20px 30px;
      height: 140px;
      overflow: hidden;
      background-color: $color-white;
    }
    &__info {
      margin-bottom: 10px;
      color: $color-black;
    }
    &__desc {
      color: $color-easy-black;
    }
  }
}
@media (min-width: 1700px) { 
  .posts-lists {
    width: 1410px;
  }
  .posts-lists__item {
    width: 450px;
  }
}
@media (max-width: 1700px) { 
  .posts-lists {
    width: 1260px;
  }
  .posts-lists__item {
    width: 400px;
  }
}

@media (max-width: 1500px) {
  .posts-lists {
    width: 1060px;
  }
  .posts-lists__item {
    width: 500px;
    &:nth-child(3n) {
      margin-right: 30px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
@media (max-width: 1400px) { 
  .posts-lists {
    width: 960px;
  }
  .posts-lists__item {
    width: 450px;
  }
}

@media (max-width: 1300px) {
  .posts-lists {
    width: 860px;
  }
  .posts-lists__item {
    width: 400px;
  }
}

@media (max-width: 1200px) { 
  .posts-lists {
    width: 500px;
  }
  .posts-lists__item {
    width: 500px;
  }
}


